/.Mod.java._trace
/.Item.java._trace
/.ToolProperty.java._trace
/.UsableItem.java._trace
/.FoodItem.java._trace
/.Block.java._trace
/.Translation.java._trace
/.PotionEffekte.java._trace
/.PotionEffects.java._trace
/.Rarity.java._trace
/.CreativeModeTab.java._trace
/.Effect.java._trace
/.SelfOtherEffect.java._trace
/.OnTickEffect.java._trace
